.nav a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.bar {
  background-color: #6e9ac4;
  margin: 5px;
  padding: 3px;
  width: 100px;
  color: white;
  border-radius: 2px;
}

.navbar {
  display: flex;
  justify-content: center;
}

.nav .active,
.nav a:hover {
  background-color: #41729f;
}

@media only screen and (max-width: 320px) {
  .navbar {
    flex-wrap: wrap;
  }
  .bar {
    margin: 4px;
    padding: 4px;
    display: block;
    width: 100%;
  }
}
